# Data Exploration - 1

## Carga de datos
Se realiza carga de datos obtenidos mediante web crawling a pollstar.com

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
from pandas.plotting import lag_plot
import numpy  as np

In [2]:
filename = "/home/bberrios/experimento-1/filtrar/live_boxoffice-all-4.txt"
dateparse = lambda x: pd.datetime.strptime(x, '%m/%d/%Y')
events = pd.read_csv(filename, sep='\t', parse_dates=['StartPlayDate'], date_parser=dateparse)
events.head()

,StartPlayDate,sortName,eventName,venue,cityStateCountry,numTicketSold,capacity,capacityPercentage,ticketPriceFrom,ticketriceTo,grossUSD,currency,grossGate,numShows
0,2018-05-16,DJAMILA,Djamila,Stadsschouwburg,"Antwerp, Belgium",512,1912,27,17.0,88.0,20235,Euro,16724,1
1,2018-05-15,LUIS MIGUEL,Luis Miguel,Auditorio Nacional,"Mexico City, Mexico",28860,9620,100,290.0,4990.0,2549264,Pesos,47667615,3
2,2018-05-13,AMBROSIA,Ambrosia,Coeur d'Alene Casino,"Worley, ID",527,1800,30,20.0,25.0,10385,US DOLLAR,10385,1
3,2018-05-12,ANGUS JULIA STONE,Angus & Julia Stone,Hordern Pavilion,"Moore Park, Australia",5421,5421,100,89.9,0.0,321373,Australian,425772,1
4,2018-05-11,3TEETH,3Teeth,Rebellion Bar,"Manchester, United Kingdom",166,450,37,10.0,12.5,2301,UK Pounds,1672,1

In [24]:
print 'cantidad de datos: ', len(events)

cantidad de datos:  2654

## ¿Qué artista es el más exitoso?

In [3]:
successs_threhold = 80

In [22]:
success_events = events[events.capacityPercentage >= successs_threhold]

grouping = success_events.groupby('sortName', as_index = False)
df = grouping['capacityPercentage'].agg(['mean','std', 'median', 'count']).replace(np.nan, 0, regex=True)
df=df.reset_index()

### Con más de 1 evento

In [39]:
succes_gt_1 = df[df['count'] > 1].sort_values(by = ['mean', 'count'], ascending = [0, 0])
print "Cantidad: ", len(succes_gt_1)
succes_gt_1

Cantidad:  284

,sortName,mean,std,median,count
172,CIRQUE DU SOLEIL CRYSTAL A BREAKTHROUGH ICE EX...,100.000000,0.000000,100.0,11
453,JUSTIN TIMBERLAKE,100.000000,0.000000,100.0,11
869,VANCE JOY,100.000000,0.000000,100.0,11
67,BAD BUNNY,100.000000,0.000000,100.0,8
305,FOO FIGHTERS,100.000000,0.000000,100.0,7
246,DISNEY ON ICE,100.000000,0.000000,100.0,6
507,LES MISERABLES,100.000000,0.000000,100.0,6
532,LUIS MIGUEL,100.000000,0.000000,100.0,6
685,PRIVACIDAD,100.000000,0.000000,100.0,6
36,ANDERSON EAST,100.000000,0.000000,100.0,5
249,DODIE,100.000000,0.000000,100.0,5
415,JERRY SEINFELD,100.000000,0.000000,100.0,5
544,MALUMA,100.000000,0.000000,100.0,5
773,SOB X RBE,100.000000,0.000000,100.0,5
40,ANDY GRAMMER,100.000000,0.000000,100.0,4
169,CIRQUE DU SOLEIL CORTEO,100.000000,0.000000,100.0,4
274,EDDIE B,100.000000,0.000000,100.0,4
563,MAXO KREAM,100.000000,0.000000,100.0,4
706,REZZ,100.000000,0.000000,100.0,4
759,SHIBA SAN,100.000000,0.000000,100.0,4
791,SPRINGSTEEN ON BROADWAY,100.000000,0.000000,100.0,4
30,ALVVAYS,100.000000,0.000000,100.0,3
104,BODYGUARD,100.000000,0.000000,100.0,3
139,CABARET,100.000000,0.000000,100.0,3
148,CASTING CROWNS,100.000000,0.000000,100.0,3
160,CHONDA PIERCE,100.000000,0.000000,100.0,3
181,COAST MODERN,100.000000,0.000000,100.0,3
242,DIRTY DANCING THE CLASSIC STORY ON STAGE,100.000000,0.000000,100.0,3
313,FRANK TURNER,100.000000,0.000000,100.0,3
323,GABRIEL IGLESIAS,100.000000,0.000000,100.0,3
...,...,...,...,...,...
102,BOB DUBACS ONE MAN SHOW THE BOOK OF MORON,90.333333,9.073772,89.0,3
134,BUDDY THE BUDDY HOLLY STORY,90.333333,9.073772,89.0,3
125,BRIT FLOYD,90.000000,8.717798,86.0,3
760,SHINEDOWN,90.000000,8.888194,87.0,3
101,BLUES TRAVELER,90.000000,14.142136,90.0,2
340,GILLIAN WELCH,90.000000,14.142136,90.0,2
391,INSANE CLOWN POSSE,90.000000,14.142136,90.0,2
568,MENOPAUSE THE MUSICAL,90.000000,14.142136,90.0,2
925,YO LA TENGO,90.000000,14.142136,90.0,2
133,BUDDY GUY,89.500000,12.020815,89.5,2
219,DEAD COMPANY,89.333333,5.686241,91.0,3
347,GOLDEN GATE WINGMEN,89.000000,9.899495,89.0,2
746,SCRIPT,89.000000,9.899495,89.0,2
410,JAY LENO,88.500000,4.949747,88.5,2
422,JIM BRICKMAN,88.500000,2.121320,88.5,2
381,HUNNA,88.000000,7.071068,88.0,2
557,MATISYAHU,88.000000,7.071068,88.0,2
344,GLORIA TREVI,87.833333,4.070217,87.0,6
51,ANTHONY KAVANAGH,87.666667,9.584710,82.0,6
702,REO SPEEDWAGON,87.600000,5.683309,86.0,5
179,CLINT BLACK,87.500000,3.535534,87.5,2
645,OZUNA,87.500000,3.535534,87.5,2
482,KID ROCK,87.000000,8.031189,83.0,5
781,SONS OF APOLLO,87.000000,8.485281,87.0,2
558,MATT KIM,86.750000,3.774917,86.0,4
132,BUCKETHEAD,86.500000,2.121320,86.5,2
500,LANA DEL REY,86.400000,6.188699,84.0,5
425,JIMMY BUFFETT,86.000000,2.828427,86.0,2
587,MINISTRY,84.000000,1.414214,84.0,2
390,INFECTED MUSHROOM,83.000000,1.414214,83.0,2

### Con más de 5 eventos

In [37]:
succes_gt_5 = df[df['count'] > 5].sort_values(by = ['mean', 'count'], ascending = [0, 0])
print "Cantidad: ", len(succes_gt_5)
succes_gt_5

Cantidad:  40

,sortName,mean,std,median,count
172,CIRQUE DU SOLEIL CRYSTAL A BREAKTHROUGH ICE EX...,100.000000,0.000000,100.0,11
453,JUSTIN TIMBERLAKE,100.000000,0.000000,100.0,11
869,VANCE JOY,100.000000,0.000000,100.0,11
67,BAD BUNNY,100.000000,0.000000,100.0,8
305,FOO FIGHTERS,100.000000,0.000000,100.0,7
246,DISNEY ON ICE,100.000000,0.000000,100.0,6
507,LES MISERABLES,100.000000,0.000000,100.0,6
532,LUIS MIGUEL,100.000000,0.000000,100.0,6
685,PRIVACIDAD,100.000000,0.000000,100.0,6
364,HARRY STYLES,99.888889,0.333333,100.0,9
370,HILLSONG WORSHIP,99.166667,2.886751,100.0,12
447,JUDAH THE LION,99.166667,2.041241,100.0,6
673,PINK,98.866667,1.125463,99.0,15
385,IM WITH HER TOUR,98.714286,2.360387,100.0,7
473,KEVIN HART,98.352941,1.271868,98.0,17
171,CIRQUE DU SOLEIL OVO,98.333333,4.082483,100.0,6
891,WEIRD AL YANKOVIC,98.000000,3.000000,100.0,9
483,KILLERS,97.875000,1.959410,97.5,8
271,EAGLES,97.375000,3.777282,99.0,8
244,DISNEY JUNIOR DANCE PARTY,97.000000,4.472136,100.0,11
138,Byrne David,97.000000,4.049691,98.5,6
713,RIVERDANCE,96.727273,7.336088,100.0,11
581,MIJA,96.428571,5.028490,100.0,7
570,MERCYME,96.000000,4.795832,99.0,7
322,G EAZY,95.727273,2.686667,95.0,11
384,ILLUSIONISTS,95.692308,6.355898,100.0,13
408,JASON MRAZ,95.500000,5.244044,97.5,6
830,THERESA CAPUTO,95.333333,5.240865,96.0,6
118,BRETT KISSEL,95.250000,4.496030,95.0,8
590,MIRANDA LAMBERT,94.909091,6.920326,98.0,11
912,WORLD WRESTLING ENTERTAINMENT,94.700000,5.963780,97.0,10
723,ROMEO SANTOS,94.066667,4.992375,92.0,15
228,DEMI LOVATO,93.642857,4.448114,96.0,14
724,RON WHITE,92.571429,6.241184,93.0,7
692,RAIN A TRIBUTE TO THE BEATLES,92.555556,7.230337,95.0,9
796,STEVE AOKI KID MILLIONAIRE,92.461538,7.943712,95.0,13
622,NEWSBOYS,92.333333,6.562520,93.0,6
105,BON JOVI,91.888889,7.304869,91.0,9
344,GLORIA TREVI,87.833333,4.070217,87.0,6
51,ANTHONY KAVANAGH,87.666667,9.584710,82.0,6

### Con más de 10 eventos

In [40]:
succes_gt_10 = df[df['count'] > 10].sort_values(by = ['mean', 'count'], ascending = [0, 0])
print "Cantidad: ", len(succes_gt_10)
succes_gt_10

Cantidad:  14

,sortName,mean,std,median,count
172,CIRQUE DU SOLEIL CRYSTAL A BREAKTHROUGH ICE EX...,100.000000,0.000000,100.0,11
453,JUSTIN TIMBERLAKE,100.000000,0.000000,100.0,11
869,VANCE JOY,100.000000,0.000000,100.0,11
370,HILLSONG WORSHIP,99.166667,2.886751,100.0,12
673,PINK,98.866667,1.125463,99.0,15
473,KEVIN HART,98.352941,1.271868,98.0,17
244,DISNEY JUNIOR DANCE PARTY,97.000000,4.472136,100.0,11
713,RIVERDANCE,96.727273,7.336088,100.0,11
322,G EAZY,95.727273,2.686667,95.0,11
384,ILLUSIONISTS,95.692308,6.355898,100.0,13
590,MIRANDA LAMBERT,94.909091,6.920326,98.0,11
723,ROMEO SANTOS,94.066667,4.992375,92.0,15
228,DEMI LOVATO,93.642857,4.448114,96.0,14
796,STEVE AOKI KID MILLIONAIRE,92.461538,7.943712,95.0,13